{% extends "base.html" %}

{% block navbar %}{% include "components/navbar.html" %}{% endblock %}

{% block contents %}
<main>
  <section id="produk" class="py-16 bg-blue-500">
    <div class="max-w-7xl mx-auto px-6">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
   
        {% for item in product %}
        <div class="border rounded-lg overflow-hidden shadow-lg">
          <img src="{{ item.gambar.url}}" alt="Produk 1" class="w-full h-556 object-cover">
          <form method="POST" action="{% url 'add_to_cart' product_id=item.id %}" class="p-6">
            {% csrf_token %}
            <h3 class="text-xl font-semibold text-black-800 mb-2">{{item.nama}}</h3>
            <p class="text-black-600 mb-4">{{ item.deskripsi}}</p>
            <p>Rp. {{item.harga}}</p>

            <button type="submit" class="mt-4 inline-block text-center text-white bg-green-500 hover:bg-green-700 py-2 px-6 rounded-lg transition duration-300 flex items-center justify-center">MASUKKAN KERANJANG</button>
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}